* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

:root {
  /* Color Scheme */
  --valo-dark: #0e1821;
  --valo-red: #ff4655;
  --valo-dark-red: #cf3f4b;
  --valo-white: #eeee;
}

a {
  text-decoration: none;
}

body {
  background-image: url("../public/assets/img/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
strong {
  overflow: visible;
}

/* Navbar */
.navbar {
  z-index: 100;
  background-color: var(--valo-dark) !important;
}
.nav-button {
  background-color: var(--valo-red) !important;
  border: none !important;
  transition: ease-in 0.2s !important;
  -webkit-transition: ease-in 0.2s !important;
  -moz-transition: ease-in 0.2s !important;
  -ms-transition: ease-in 0.2s !important;
  -o-transition: ease-in 0.2s !important;
}
.nav-button:hover {
  background-color: var(--valo-dark-red) !important;
}

/* Header */
.header-section {
  height: 100vh;
  width: 100%;
}

.header-content {
  height: 78%;
  background-image: url("../public/assets/img/bg-header.webp");
  background-position: center;
  background-size: cover;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000073;
  min-width: 100%;
  height: 90%;
  z-index: -1;
}

/* Select Agent */
.select-agent-cont .agent-icon {
  width: 175px;
  height: 175px;
  border: solid 4px #999;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  background-color: #fff;
}

.select-agent-cont .agent-icon:hover {
  border: solid 5px var(--valo-red);
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

/* Agents Components */
.agents-header-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.agents-header-section .img-container {
  height: 88%;
  top: 100px;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all ease-in-out .3s;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
}

#myVideo {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: -1;
}

.agent-description-section {
  height: 90%;
  width: 27%;
}

.agent-description-section h1 {
  font-size: 3rem;
}

.agents-header-section .agent-number{
  overflow: visible;
}

.agents-header-section .agent-number h3{
  font-size: 2rem
}

.agents-header-section .agent-number h1{
  font-size: 15rem
}

.video-player {
  overflow: hidden !important;
}

/* Agent Skill */
.agent-skill .agent-skill-title{
  font-size: 5rem;
  margin-top: 10rem;
  margin-bottom: -1.4rem;
  margin-left: -10px;
}

.agent-skill-container {
  border: 1px solid #555;
  background-color: var(--valo-white);
  box-shadow: -10px 0px 0px 0px var(--valo-red);
  margin-bottom: 10rem;
}

#agentSkill {
  height: 100%;
  width: 600px;
  object-fit: cover;
}

.agent-skill-icon {
  border: 1px solid #999;
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
  width: 85px;
  height: 85px;
  transition: all ease-in-out 0.1s;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
}

.agent-skill-icon:hover {
  border: 1px solid #000;
  filter: brightness(1);
  -webkit-filter: brightness(1);
  background-color: var(--valo-red);
  cursor: pointer;
}

.agent-skill-icon.skill-selected {
  border: 2px solid #000;
  filter: brightness(0);
  -webkit-filter: brightness(0);
}
.agent-skill-icon.skill-selected:hover {
  background-color: var(--valo-red);
  filter: brightness(1);
  -webkit-filter: brightness(1);
  cursor: pointer;
}

.agent-skill-vid{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skill-description .badge:hover{
  background-color: var(--valo-red) !important;
}